<!DOCTYPE html>
<html lang="en">
  <head>
    
  </head>
  <body>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="alternate" type="application/rss+xml" href="http://example.com/feed.rss" >
    <title>FarmSimple</title>

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/main.css" />
    
    <style>
      body {
        background-image: url('/Users/greymatt/dev/projects/FarmSimple/FarmTwo/static/images/farm_background_1.jpg');
      }
      .left{
        width: 50%;
        float: left;
        margin-top: -2%;
      }
      .right{
        width: 50%;
        float: right;
      }
      a.boxed-btn {
        font-family: 'Poppins', sans-serif;
        display: block;
        background-color: #179C0D;
        color: #fff;
        padding: 12px 35px!important;
        font-size: 1.3rem;
        margin-left: 25%;
        margin-right: 25%;
      }
      </style>
    <div class="top-header-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <div class="main-menu-wrap">
              <div class="site-logo">
                <a href="/">
                  <img src="C:\Harvestify\static\images\logo1.png" alt="" />
                </a>
              </div>

              <nav class="main-menu">
                <ul>
                  <li class="current-list-item">
                    <a style="padding-left: 75px" href="/">Home</a>
                  </li>
                  <!-- <li><a href="/about">About</a></li> -->
                  <li><a href="{{ url_for('crop_recommend') }}">Predict Crops</a></li>
                  <li><a href="{{ url_for('fertilizer_recommendation') }}">Get Suggestion for Fertilizer</a></li>
                  <li><a href="http://localhost:4000/">Predict Crop Price</a></li>
                  <li><a href="{{ url_for('disease_prediction') }}">Predict Disease</a></li>
                  <li><a href="{{ url_for('search') }}">Find Depth</a></li>
                  <!-- <li><a href="http://172.16.78.48:5000" img="FarmTwo\static\images\analyst.png"> Speak to Analyst </a></li> -->
                  <li><a href="http://localhost:9999" img="FarmTwo\static\images\analyst.png"> Speak to Analyst </a></li>

                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    
      <div class="hero-area hero-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <div class="hero-text">
                <div class="hero-text-tablecell">
                  <h1 style="margin-top:8%">Find the Best for Your Field!</h1>
                  <p class="subtitle">with Farm Simple</p>
                  <!-- start of left -->
                  <div class="left">
                  <div class="hero-btns">
                    <a href="{{ url_for('crop_recommend') }}" class="boxed-btn">Predict Crops</a>
                  </div>
                  <div class="hero-btns">
                    <a href="{{ url_for('fertilizer_recommendation') }}" class="boxed-btn">Get Fertilizer Suggestion</a>
                  </div>
                  <div class="hero-btns">
                    <a href="http://localhost:4000/" class="boxed-btn">Predict Crop Price</a>
                  </div>
                  <div class="hero-btns">
                    <a href="{{ url_for('disease_prediction') }}" class="boxed-btn" >Predict Disease</a>
                  </div>
                  <div class="hero-btns">
                    <a href="{{ url_for('search') }}" class="boxed-btn" >Find Depth</a>
                    </div>
                  </div>
                    <!-- end -->
                    <div class = "right">
                <!-- start sw-rss-feed code --> 
<script type="text/javascript"> 
  <!-- 
  rssfeed_url = new Array(); 
  rssfeed_url[0]="http://www.thebetterindia.com/topics/agriculture/feed/";  
  rssfeed_frame_width="500"; 
  rssfeed_frame_height="450"; 
  rssfeed_scroll="on"; 
  rssfeed_scroll_step="6"; 
  rssfeed_scroll_bar="on"; 
  rssfeed_target="_blank"; 
  rssfeed_font_size="12"; 
  rssfeed_font_face=""; 
  rssfeed_border="on"; 
  rssfeed_css_url="https://feed.surfing-waves.com/css/style2a.css"; 
  rssfeed_title="on"; 
  rssfeed_title_name=""; 
  rssfeed_title_bgcolor="#3366ff"; 
  rssfeed_title_color="#fff"; 
  rssfeed_title_bgimage=""; 
  rssfeed_footer="off"; 
  rssfeed_footer_name="rss feed"; 
  rssfeed_footer_bgcolor="#fff"; 
  rssfeed_footer_color="#333"; 
  rssfeed_footer_bgimage=""; 
  rssfeed_item_title_length="50"; 
  rssfeed_item_title_color="#666"; 
  rssfeed_item_bgcolor="#fff"; 
  rssfeed_item_bgimage=""; 
  rssfeed_item_border_bottom="on"; 
  rssfeed_item_source_icon="off"; 
  rssfeed_item_date="off"; 
  rssfeed_item_description="on"; 
  rssfeed_item_description_length="120"; 
  rssfeed_item_description_color="#666"; 
  rssfeed_item_description_link_color="#333"; 
  rssfeed_item_description_tag="off"; 
  rssfeed_no_items="0"; 
  rssfeed_cache = "265020141cd5201cf770d673f1dcccf0"; 
  //--> 
  </script> 
  <script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script> 
  <!-- The link below helps keep this service FREE, and helps other people find the SW widget. Please be cool and keep it! Thanks. --> 
  <!-- end sw-rss-feed code -->
                  
                      
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    
  </body>
</html>
