<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;800&display=swap" rel="stylesheet">
    <style>
        a {
            color: white;
        }
        html body {
            background-color: #455962;
        }
        .left {
            width: 50%;
            float: left;
            }

            .right {
            width: 50%;
            float: right;
            }

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #455962;">
        <a class="navbar-brand" href="#" style="font-family: 'Roboto Slab', serif; font-size: 250%;">Analysts</a>
        <div class="container-fluid">
          

   
          <div class="collapse navbar-collapse" id="navbarNav">
            <!-- <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
            </ul> -->
          </div>
        </div>
      </nav>
      <br><br>
      <p style="font-family: 'Roboto Slab', serif; color: white; margin-left: 3%; margin-right: 25%;">
        Confirm your gathered data with the help of available analysts. 
        Verify the accuracy of your findings and get expert insights. 
        Utilize these resources to improve your farming practices and increase your yield.
      </p>


      <div class="left">
        <ul class="list-group" style="margin-left: 5%; margin-right: 5%;">
            <li class="list-group-item">#1 Sharves P<br>Username: sharves<br>
              <button type="submit" class="btn btn-primary"><a href="http://172.16.78.48:5000">Message</a></button></li>
            <li class="list-group-item">#2 Shobana P<br>Username: shobana<br>
              <button type="submit" class="btn btn-primary"><a href="http://172.16.78.48:5000">Message</a></button></li>
            </li>
            <li class="list-group-item">#3 Saparna P<br>Username: saparna<br>
              <button type="submit" class="btn btn-primary"><a href="http://172.16.78.48:5000">Message</a></button></li>
            </li>
            <li class="list-group-item">#4 Prabitha P<br>Username: prabitha<br>
              <button type="submit" class="btn btn-primary"><a href="http://172.16.78.48:5000">Message</a></button></li>
            </li>
            <li class="list-group-item">#5 Aravind P<br>Username: aravind<br>
              <button type="submit" class="btn btn-primary"><a href="http://172.16.78.48:5000">Message</a></button></li>
            </li>
          </ul></div>
        <div class="right">
            <ul class="list-group" style="margin-left: 5%; margin-right: 5%;">
                <li class="list-group-item">#6 Raamsaamy P<br>Username: sharves<br><button type="button" class="btn btn-primary">Message</button></li>
                <li class="list-group-item">#7 Munisaamy P<br>Username: shobana<br><button type="button" class="btn btn-primary">Message</button></li>
                <li class="list-group-item">#8 Raamraj P<br>Username: saparna<br><button type="button" class="btn btn-primary">Message</button></li>
                <li class="list-group-item">#9 Muniyappa P<br>Username: prabitha<br><button type="button" class="btn btn-primary">Message</button></li>
                <li class="list-group-item">#10 Maariamma P<br>Username: aravind<br><button type="button" class="btn btn-primary">Message</button></li>
              </ul></div>
            </div>

    
</body>
</html>